.appMain{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 1rem;
}

.appBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100% - 120px);
}

.modal{
    overflow: hidden;
}