.cardBlock{
    position: relative;
    border: none;
    background: none;
    color: var(--text-primary-light-standart-text);

    display: flex;
    flex-direction: column;
    align-items: center;
}

button:focus {
    outline: none;
}

.cardCount{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    font-size: 1rem;
}

.title{
    text-align: center;
}

.btnNone{
    position: absolute;
    background: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
}