.burgerConstructorContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.burgerConstructor{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.burgerConstructorList{
    overflow: auto;
}