html {scrollbar-color: auto !important;}

body {
  margin: 0 auto;
  background: var(--interface-bg);

  font-family: var(--font-family);
  color: var(--text-primary-light-standart-text);

  overflow-y: hidden;
}

*::-webkit-scrollbar { width: 10px; }
*::-webkit-scrollbar-track { 
	background: var(--interface-input); 
}
*::-webkit-scrollbar-thumb { 
	background-color: var(--text-dark-grey-secondary-text); 
}
::-webkit-scrollbar-thumb:hover { cursor: pointer; }


:root{
  --neon: #b5ff3d;
	--interface-modal-bg: #1c1c21;
	--interface-accent: #4c4cff;
	--interface-active: #4c4cff40;
	--interface-input: #2f2f37;
	--interface-success: #0cc;
	--interface-error: #e52b1a;
	--interface-bg: #131316;
	--interface-modal-edge: rgba(76, 76, 255, 0.2);
	--text-primary-light-standart-text: #f2f2f3;
	--text-dark-grey-secondary-text: #8585ad;
	--text-disabled: #3a3a55;

  --font-family: "JetBrains Mono", sans-serif;
  --second-family: "Iceland", sans-serif;
  --third-family: "IBM Plex Sans", sans-serif;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}